/************************************** Overview ***********************************/
.project-background,
.robinhood {
  height: 100%;
  width: 100%;
}

.robinhood {
  background-color: #21ce99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rb-main {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 100%;
  width: 100%;
}

.rb-header {
  position: absolute;
  bottom: 0;
  padding: 2em;
  width: 100%;
}

.rb-header > .header-tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  text-decoration: none;
}

.rb-header > .header-tabs > a > .header-tab {
  font-weight: 900;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none !important;
  color: white;
}

.rb-header > .header-tabs > a > .header-tab:hover {
  border-color: black;
  opacity: 0.8;
}

.rb-header > .socialBtn {
  display: none;
}

.rb-page {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(320px, 1fr) 320px;
}

.rb-table {
  overflow: hidden;
  padding: 0 1em;
}

.rb-table > .row {
  font-weight: 500;
}

.rb-table > .row > .row-title {
  background-color: #989898;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  color: white;
  font-weight: bold;
}

.rb-table > .row > .row-body {
  height: calc(100% - 35px);
  display: grid;
}

.rb-table > .row > .row-body > .item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  padding-left: 10px;
  height: 50px;
  font-size: 1.5em;
}

.rb-table > .row > .row-body > .item:nth-child(odd) {
  background: #002bff0d;
}

.rb-table > .row > .row-body > .item > .item-name,
.rb-table > .row > .row-body > .item > .item-val {
  font-weight: 100;
  font-size: 0.8em;
  font-family: 'Work Sans';
}

.rb-table > .row > .row-body > .item > .item-name > div:nth-child(2) {
  font-size: 0.5em;
}

.rb-table > .row > .row-body > .item > .item-val {
  text-align: center;
}

/* IPad */
@media only screen and (min-width: 768px) {
  .rb-main {
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    padding: 0 50px;
  }

  .rb-header {
    order: -1;
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .rb-header > .header-tabs {
    justify-content: left;
  }

  .rb-header > .header-tabs > a > .header-tab {
    font-weight: 500;
    margin-right: 3em;
  }

  .rb-header > a > .socialBtn {
    display: block;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .rb-page {
    height: calc(100px - 50px);
    display: grid;
    grid-template-rows: minmax(600px, 1fr);
    grid-template-columns: 2fr minmax(300px, 1fr);
  }

  .rb-graph {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .rb-table {
    padding: 0 10px 0 10px;
    grid-area: 1 / 2 / span 1 / span 1;
  }

  .rb-table > .row > .row-body > .item {
    grid-template-columns: 3fr 1fr;
  }

  .rb-table > .row {
    border: 1px solid grey;
    margin-bottom: 1px;
  }
}

@media only screen and (min-width: 1024px) {
  .rb-main {
    padding: 0 100px;
  }
}

/************************************** History ***********************************/
.rb-history > .table-wrapper {
  background: white;
  color: black;
  padding: 2em 0;
}

.rb-history > .disclaimer {
  height: auto;
  margin: 0 auto;
  padding: 1em;
  color: black;
  padding: 3em;
}

@media only screen and (min-width: 768px) {
  .rb-history > .disclaimer {
    padding: 3em 10em;
  }
}

.rb-history > .disclaimer > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  line-height: 2em;
}

.rb-history > .disclaimer > p {
  font-size: 1.2em;
  line-height: 1.8em;
  font-weight: 500;
  padding: 1em;
}

.rb-history > .table-wrapper {
  margin-bottom: 10em;
  min-width: 100%;
  padding: 4em 1em;
}

.rb-history > .table-wrapper > .table {
  min-width: 100%;
  margin-top: 2em;
  font-size: 13px;
  overflow-x: scroll;
}

.rb-history > .table-wrapper > .table > .header,
.rb-history > .table-wrapper > .table > .row {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr;
  min-width: 100%;
}

.rb-history > .table-wrapper > .table > .row:nth-child(odd) {
  background: #f5f5f5;
}

.rb-history > .table-wrapper > .table > .header {
  background: #f6f8fa;
  border-bottom: 1px solid black;
}

.rb-history > .table-wrapper > .table > .header > .col,
.rb-history > .table-wrapper > .table > .row > .col {
  min-width: 100px;
  padding: 10px 0;
  text-align: center;
}
