/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Work Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root,
.app,
.main-background {
  background-color: white;
  position: relative;
  height: 100%;
  margin: 0;
}

/************************************** My codes ***********************************/
* {
  text-decoration: none !important;
  list-style: none;
}

/* App */
/* Mobile */
.app {
  display: grid;
  grid-template-rows: 50px minmax(0, 1fr);
}

/* IPad */
@media only screen and (min-width: 480px) {
  .app {
    grid-template-rows: 70px minmax(0, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .app {
    grid-template-rows: 100px minmax(0, 1fr);
  }
}

/* Header */
/* Mobile */
header,
header > nav,
header > nav > ul {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: sticky;
}

/* Nav Contents */
/* Mobile */
header > nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
}

header > nav > ul > li:first-child {
  flex: 0 1 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

header > nav > ul > li {
  font-size: 14px;
  font-weight: 400;
}

/* IPad & Desktop */
@media only screen and (min-width: 480px) {
  header > nav > ul {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  header > nav > ul > li:first-child {
    flex: none;
    font-size: 24px;
    font-weight: 900;
    text-align: start;
    margin-right: 1em;
    padding: 0 1em 0 1em;
    border-right: 3px solid #111;
  }

  header > nav > ul > li {
    margin-right: 1em;
    font-size: 14px;
    font-weight: 300;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  header > nav > ul > li:first-child {
    font-size: 28px;
  }

  header > nav > ul > li {
    font-size: 16px;
  }
}

/* Main Image */
/* Mobile */
main {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-rows: 1fr 50px;
}

main > .main-image {
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/main.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

/* IPad & Desktop */
@media only screen and (min-width: 768px) {
  main > .main-image {
    background-position: center;
  }
}

/* footer */
footer {
  background-color: #f3f3f3;
}

/* main layout for articles */
.main-background {
  position: relative;
  height: 100%;
  background-color: #f2f2f2;
}

.main-block {
  position: absolute;
  height: 97.5%;
  width: 95%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

.main-block_programming {
  display: flex;
}

.article-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 30px 200px;
  overflow: scroll;
  text-align: justify;
}

/* prevents the bottom of the article getting cut */
.article-wrapper > div {
  margin-bottom: 70px;
}

.article-share-btn {
  position: fixed;
  height: 300px;
  width: 70px;
  margin-left: -90px;
  background-color: silver;
}

.article-list-wrapper {
  display: none;
}
